{% extends "base.html" %}

{% block content %}
<div class="banner">MingleHub.com</div>
<div class="log-form">
  <h2 class="reg-textheader">Login</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      <input class="input-field" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
    {% endfor %}
    <button class="btn" type="submit">Login</button>
  </form>
  </div>
{% endblock %}

