{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>MingleHub</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="banner">
        <h1>MingleHub.com</h1>
    </div>
    <div class="image-container">
        <img src="{% static 'images/meeting-2.png' %}" alt="Meeting Image">
    </div>
    <div class="buttons">
        <button class="index-logbtn" onclick="window.location.href='{% url 'login' %}'">Login</button>
        <button class="index-regbtn" onclick="window.location.href='{% url 'register' %}'">Register</button>
    </div>
</body>
</html>
